/*CREATED BY RASILIA*/

/*Variable*/
:root {
    --b: #87ceeb;
    --w: white;
}

/*Global*/
* {
    padding: 0;
    margin: 0;
}
body {
    background: url(https://i2.100024.xyz/2022/11/23/uqfcvc.webp);
    background-size: cover;
    -webkit-backgroud-size:cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-attachment: fixed;
    font-family: Calibri;
}
ul, ol {
    list-style: none;
}
ul li {
    display: inline;
}
a:link, a:visited {
    color: var(--w);
    text-decoration: none;
}

/*Topbar*/
.top {
    background:#34393a center top;
    height: 40px;
    width: 100%;
    position: fixed;
}
.top ul {
    height: 30;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 6px;
    text-align: center;
}
.top ul li {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 22px;
}
.top a:hover {
    color: var(--b);
}

/*Lingue*/
.lang {
    height: 40px;
    width: 125px;
    font-size: 22px;
    position: absolute;
    left: 89%;
    text-align: end;
    padding-top: 5px;
    color: var(--w);
    cursor:pointer;
}
.lang ul {
    display: none;
    background: var(--w);
    position: inherit;
    top: 40px;
    left: 12%;
    border-radius: 10px;
    width: 170px;
    height: 1000px auto;
    overflow-y: auto;
    overflow-x: hidden;
}
.lang li {
    font-size: 18px;
    text-align: center;
    display: block;
    color: #262b2c;
    padding: 5px;
}
.lang li:hover {
    color: var(--b);
}
.lang:hover ul {
    display: block;
}