* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #32322f;
    font-family: Calibri;
}

.note_and_show {
    height: 100%;
    width: 50%;
    position: fixed;

}
.note_and_show_1 {
    position: relative;
    font-size:325%; 
    color: whitesmoke; 
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.tip {
    height: 100%;
    width: 50%;
    position: fixed;
}
.tip_1 {
    position: relative;
    font-size: 150%;
    position: relative;
    color: whitesmoke; 
    text-align: center;
    top: 85%;
}

.confirm {
    height: 100%;
    width: 50%;
    position: fixed;
}
.confirm_1 {
    position: relative;
    top: 92%;
    font-size: 250%;
    color: whitesmoke; 
    text-align: center;
    cursor: pointer;
}

.lingua {
    position:fixed;
    height: 100%;
    width: 50%;
    left: 50%;
}
.lingua ul {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    height: auto;
    width: auto;
}
.selected {
    position: relative;
    background: #f0ffff;
    font-size: 30px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    cursor: default;
}
.unselected {
    border: 1px solid rgb(219,217,219);
    width: auto;
    font-size: 30px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    cursor: pointer;
}