:root {
    --b: #87ceeb;
    --w: whitesmoke;
}

* {
    padding: 0px;
    margin: 0px;
}
html {
    height: 100%;
}
body {
    background-color: #32322f;
    font-family: Calibri;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note_and_show_1 {
    position: relative;
    margin: auto;
    font-size:325%; 
    color: var(--w); 
    text-align: center;
    top: 38px;
}
.tip_1 {
    position: relative;
    font-size: 150%;
    color: var(--w); 
    text-align: center;
    top: -1%;
}
.confirm {
    position: relative;
    text-align: center;
    font-size: 250%;
    color: var(--w);
    cursor: pointer;
    top: -1%;
}
.confirm:hover {
    color: var(--b);
}

.lingua {
    position: relative;
    height: auto;
    width: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.lingua ul {
    position: relative;
    list-style: none;
    height: auto;
    width: auto;
}
.lingua ul li {
    margin-inline: 22%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
    transition: color,background-color 0.5s;
}
.selected {
    position: relative;
    border: var(--b);
    background: var(--b);
    border-radius: 50px;
    font-size: 30px;
    color: black;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    cursor: default;
}
.unselected {
    border: 2px solid #dbd9db;
    border-radius: 50px;
    width: auto;
    font-size: 30px;
    color: var(--w);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    cursor: pointer;
}
.unselected:hover {
    color: black;
    background-color: #dbd9db;
}