* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #32322f;
}

.note_and_show {
    height: 100%;
    width: 50%;
    position: fixed;
}
.note_and_show_1 {
    position: relative;
    font-size:50px; 
    color: whitesmoke; 
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.lingua {
    position:relative;
    height: 100%;
    width: 50%;
    left: 50%;
}
.lingua ul {
    list-style: none;
    height: auto;
    width: auto;
    overflow-y:auto;
}
.selected {
    background-color: rgb(219,217,219) ;
}
.lingua li {
    border-bottom: rgb(219,217,219) solid 1px;
    font-size: 30px;
    text-align: center;
}