body {
    background-color: #87ceeb;
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

.top {
    background:#003144 center top;
    height: 40;
    width: 100%;
    position: fixed;
}
.top ul {
    height: 30;
    width: auto;
    margin: auto;
}